/* stylelint-disable block-no-empty, unit-no-unknown */
body {
  height: 2;
  width: 0px;
}
DIV::-moz-placeholder {
  opacity: 50%;
  -moz-appearance: -webkit-flex;
  color: #fff;
  display: BLOCK;
}

/*comment*/
div:before {
  --foo: hsl(198deg 28% 50%);
  color: rgba(255, 255, 255, 0.5);
  @media (-webkit-min-device-pixel-ratio>1) {
  }
}
@-webkit-keyframes {
  0% {
    -webkit-transform: Calc(1px+2px);
  }
}
