/* stylelint-disable block-no-empty, unit-no-unknown */
body {
  width: 0px;
  height: 2;

  DIV::-moz-placeholder {
    display: BLOCK;
    -moz-appearance: -webkit-flex;
    opacity: 50%;
    color: #fff;
  }
}
/*comment*/
div:before {
  --foo: hsl(198deg 28% 50%);
  color: rgba(255, 255, 255, 50%);
  @media (-webkit-min-device-pixel-ratio>1) {
  }
}
@-webkit-keyframes {
  0% {
    -webkit-transform: Calc(1px+2px);
  }
}
