/* stylelint-disable block-no-empty, unit-no-unknown */
body {
  width: 0;
  height: 2;
}

div::placeholder {
  display: block;
  appearance: flex;
  color: #ffffff;
  opacity: 0.5;
}

/* comment */
div::before {
  --foo: hsl(198deg 28% 50%);

  color: rgba(255, 255, 255, 0.5);

  @media (min-device-pixel-ratio > 1) {
  }
}

@keyframes {
  0% {
    transform: calc(1px + 2px);
  }
}
